<div class="container">
        <div class="wrapper">
            <h3 style="text-align: center;">Pie Chart</h3>
            <div class="row mt-5">
                <div class="col-md-2">
                    <a href="/" class="btn btn-dark">Home</a>
                </div>
                <div class="col-md-8">
                    <div id="chartContainer" style="height: 370px; width: 100%"></div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>