<div class="container">
        <div class="wrapper">
            <div class="row mt-5">
                <div class="col-md-3">
                    <a href="/" class="btn btn-dark">Home</a>
                </div>
                <div class="col-md-6">
                    <div class="table-responsive mt-5">
                        <table class="table">
                            <thead>
                                <th></th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Bar chart</td>
                                    <td><a href="/googlebar" class="btn btn-dark">View</a></td>
                                </tr>
                                <tr>
                                    <td>Pie Chart</td>
                                    <td><a href="/googlepie" class="btn btn-dark">View</a></td>
                                </tr>
                                <tr>
                                    <td>Area Chart</td>
                                    <td><a href="/googlearea" class="btn btn-dark">View</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>