<div class="container">
        <div class="wrapper">
            <h3 style="text-align: center;">Google Pie Chart</h3>
            <div class="row mt-5">
                <div class="col-md-2">
                    <a href="/google" class="btn btn-dark">Home</a>
                </div>
                <div class="col-md-8">
                    <google-chart #chart
                        [title]="title"
                        [type]="type"
                        [data]="data"
                        [columnNames]="columnNames"
                        [options]="options"
                        [width]="width"
                        [height]="height">
                     </google-chart>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>